In [3]:
import os,sys
from typing import List, Dict
from tqdm import tqdm
import numpy as np
import pandas as pd
from sklearn.metrics import accuracy_score, roc_auc_score
import lightgbm as lgb
import matplotlib.pyplot as plt


# Code 경로 추가
sys.path.append(os.path.dirname(os.path.dirname(os.path.abspath(""))))
print(sys.path[-1])

C:\Users\Minari\Documents\GitHub\level1-classificationinmachinelearning-recsys-06

In [3]:
'''# 파일 호출
data_path: str = "../../data"
file_name = 'raw.csv'
if not os.path.exists(f'{data_path}/{file_name}'):
    from Code.dataset.merge_all import merge_all
    df = merge_all(data_path)

df: pd.DataFrame = pd.read_csv(os.path.join(data_path,"raw.csv"))
submission_df: pd.DataFrame = pd.read_csv(os.path.join(data_path, "test.csv")) # ID, target 열만 가진 데이터 미리 호출
'''

In [4]:
'''
csv 파일 합치기
기준은 datetime 으로
겹치는 컬럼은 _dup.숫자 형식으로 -> _dup.1
'''
merged_df = None
if not os.path.exists('merged_df.csv'):
    import pandas as pd
    import os
    
    data_dir = '../../data'
    file_names = [name for name in os.listdir(data_dir) if name.endswith('.csv')][:-4]
    
    files = [file for file in os.listdir(data_dir) if file.endswith('.csv')]
    
    df_list = []
    for name in file_names:
        df = pd.read_csv(os.path.join(data_dir, name)) 
        df_list.append(df)
    
    merged_df = df_list[0]
    for df in df_list[1:]:
        merged_df = pd.merge(merged_df, df, on='datetime', how='outer', suffixes=('', '_dup'))
elif merged_df is None:
    merged_df = pd.read_csv('merged_df.csv')

In [5]:
# 합친 dataframe에서 중복 컬럼 확인
n = 0
unique_col = []
for l in merged_df.columns.sort_values():
    if 'dup' in l:
        continue
    elif n != 10:
        unique_col.append(l)
        n += 1
    else:
        n = 0
        print()

In [6]:
unique_col

['Unnamed: 0',
 'addresses_count_active',
 'addresses_count_receiver',
 'addresses_count_sender',
 'block_bytes',
 'block_count',
 'block_interval',
 'blockreward',
 'blockreward_usd',
 'close',
 'coinbase_premium_index',
 'datetime',
 'difficulty',
 'fees_block_mean',
 'fees_block_mean_usd',
 'fees_reward_percent',
 'fees_total',
 'fees_total_usd',
 'fees_transaction_mean',
 'fees_transaction_mean_usd',
 'fees_transaction_median_usd',
 'funding_rates',
 'hashrate',
 'long_liquidations',
 'long_liquidations_usd',
 'open_interest',
 'short_liquidations',
 'short_liquidations_usd',
 'supply_new',
 'supply_total',
 'taker_buy_sell_ratio',
 'taker_buy_volume',
 'taker_sell_ratio',
 'taker_sell_volume',
 'tokens_transferred_mean',
 'tokens_transferred_median',
 'tokens_transferred_total',
 'transactions_count_mean',
 'transactions_count_total',
 'utxo_count',
 'volume']

In [1]:
if not os.path.exists('merged_df.csv'):
    merged_df.to_csv('merged_df.csv')

NameError: name 'os' is not defined

In [10]:
'''
관점에 따라 다르겠지만
올해 데이터가 내년의 데이터의 경향을 반영한다고 보긴 쉽지 않다.

따라서 직년 1년의 데이터만 쓰는 게 아니라 
1 ~ 3년 정도의 데이터를 사용하고
1년, 분기, 등으로 나눠서 생각해봐야겠다

'''

'datetime'

,Unnamed: 0,datetime,coinbase_premium_gap,coinbase_premium_index,funding_rates,funding_rates_dup,funding_rates_dup.1,funding_rates_dup.2,funding_rates_dup.3,funding_rates_dup.4,...,hashrate,supply_total,supply_new,tokens_transferred_total,tokens_transferred_mean,tokens_transferred_median,transactions_count_total,transactions_count_mean,utxo_count,velocity_supply_total
0,0,2011-03-13 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,5634.130000,33.737305,0.010000,NaN,NaN,NaN,NaN
1,1,2011-03-13 15:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.636053e+02,NaN,NaN,11972.660000,41.002260,7.780000,NaN,NaN,NaN,NaN
2,2,2011-03-13 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.727040e+02,5670800.0,150.0,44161.137793,659.121460,50.000000,NaN,NaN,NaN,NaN
3,3,2011-03-13 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.636053e+02,5671000.0,200.0,5662.831400,123.105030,45.855000,NaN,NaN,NaN,NaN
4,4,2011-03-13 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.727040e+02,5671150.0,150.0,17839.808358,74.332535,0.073196,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115223,115223,2024-04-26 09:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.01,...,7.357868e+11,NaN,NaN,39686.354390,1.758757,0.003737,NaN,NaN,NaN,NaN
115224,115224,2024-04-26 10:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.01,...,8.408992e+11,NaN,NaN,32438.993659,1.293318,0.001638,NaN,NaN,NaN,NaN
115225,115225,2024-04-26 11:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115226,115226,2024-04-26 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115227,115227,2024-04-26 13:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
merged_df.rename(columns={'datetime':'ID'}, inplace=True)

In [7]:
train_df = pd.read_csv('../../data/train.csv').rename(columns={'target::':'target'})
test_df = pd.read_csv('../../data/test.csv')

train_df, test_df

(                       ID  target
 0     2023-01-01 00:00:00       2
 1     2023-01-01 01:00:00       1
 2     2023-01-01 02:00:00       1
 3     2023-01-01 03:00:00       1
 4     2023-01-01 04:00:00       2
 ...                   ...     ...
 8755  2023-12-31 19:00:00       1
 8756  2023-12-31 20:00:00       1
 8757  2023-12-31 21:00:00       0
 8758  2023-12-31 22:00:00       2
 8759  2023-12-31 23:00:00       2

 [8760 rows x 2 columns],
                        ID
 0     2024-01-01 00:00:00
 1     2024-01-01 01:00:00
 2     2024-01-01 02:00:00
 3     2024-01-01 03:00:00
 4     2024-01-01 04:00:00
 ...                   ...
 2787  2024-04-26 03:00:00
 2788  2024-04-26 04:00:00
 2789  2024-04-26 05:00:00
 2790  2024-04-26 06:00:00
 2791  2024-04-26 07:00:00

 [2792 rows x 1 columns])

In [31]:
'''merged_df['ID'] = pd.to_datetime(merged_df['ID'])
train_df['ID'] = pd.to_datetime(train_df['ID'])
test_df['ID'] = pd.to_datetime(test_df['ID'])'''

In [12]:
train_merged_df = pd.merge(merged_df, train_df, on='ID', how='inner')
test_merged_df = pd.merge(merged_df, train_df, on='ID', how='inner')

train_merged_df, test_merged_df

(      Unnamed: 0                   ID  coinbase_premium_gap  \
 0         103670  2023-01-01 00:00:00                 -9.86
 1         103671  2023-01-01 01:00:00                 -8.78
 2         103672  2023-01-01 02:00:00                 -9.59
 3         103673  2023-01-01 03:00:00                 -9.74
 4         103674  2023-01-01 04:00:00                -10.14
 ...          ...                  ...                   ...
 8755      112425  2023-12-31 19:00:00                -27.10
 8756      112426  2023-12-31 20:00:00                -24.73
 8757      112427  2023-12-31 21:00:00                -28.48
 8758      112428  2023-12-31 22:00:00                 -9.08
 8759      112429  2023-12-31 23:00:00                  4.48

       coinbase_premium_index  funding_rates  funding_rates_dup  \
 0                  -0.059650       0.005049           0.010000
 1                  -0.053047       0.005049           0.010000
 2                  -0.057952       0.005049           0.010000
 3                  -0.058912       0.005067           0.010000
 4                  -0.061373       0.006210           0.010000
 ...                      ...            ...                ...
 8755               -0.063587       0.036371           0.036288
 8756               -0.058109       0.037233           0.038245
 8757               -0.066979       0.037761           0.040547
 8758               -0.021487       0.038020           0.041638
 8759                0.010595       0.037049           0.039306

       funding_rates_dup.1  funding_rates_dup.2  funding_rates_dup.3  \
 0                0.001400             0.010000             0.000571
 1                0.001400             0.010000             0.000570
 2                0.001400             0.010000             0.000566
 3                0.001518             0.010000             0.000557
 4                0.008400             0.010000             0.000536
 ...                   ...                  ...                  ...
 8755             0.014468             0.024847             0.035893
 8756             0.018500             0.023523             0.036404
 8757             0.018500             0.022368             0.038425
 8758             0.018500             0.021547             0.039708
 8759             0.018500             0.019143             0.038614

       funding_rates_dup.4  ...  supply_total  supply_new  \
 0                0.010000  ...  1.924871e+07       75.00
 1                0.010000  ...  1.924874e+07       25.00
 2                0.010000  ...  1.924879e+07       50.00
 3                0.010000  ...  1.924882e+07       31.25
 4                0.010000  ...  1.924886e+07       43.75
 ...                   ...  ...           ...         ...
 8755             0.064891  ...  1.958605e+07       56.25
 8756             0.064891  ...  1.958607e+07       25.00
 8757             0.064891  ...  1.958609e+07       18.75
 8758             0.064891  ...  1.958611e+07       12.50
 8759             0.064891  ...  1.958613e+07       25.00

       tokens_transferred_total  tokens_transferred_mean  \
 0                 33057.024011                 2.885312
 1                 12933.965951                 2.217758
 2                 26960.250177                 4.857703
 3                 32747.924338                 6.243646
 4                 26550.999095                 3.824690
 ...                        ...                      ...
 8755              34918.916733                 0.845781
 8756              20015.782598                 0.927301
 8757              13822.498528                 1.001413
 8758              18699.215727                 2.317127
 8759               8369.792889                 0.389365

       tokens_transferred_median  transactions_count_total  \
 0                      0.020125                   11457.0
 1                      0.021293                    5832.0
 2                      0.022980                    5550.0
 3                      0.024678                    5245.0
 4                      0.028596                    6942.0
 ...                         ...                       ...
 8755                   0.000620                   41286.0
 8756                   0.001052                   21585.0
 8757                   0.005020                   13803.0
 8758                   0.009216                    8070.0
 8759                   0.003617                   21496.0

       transactions_count_mean   utxo_count  velocity_supply_total  target
 0                  954.750000   83308092.0              65.978971       2
 1                 1458.000000   83314883.0              65.977755       1
 2                  693.750000   83314090.0              65.975570       1
 3                 1049.000000   83326258.0              65.975092       1
 4                  991.714286   83339168.0              65.969825       2
 ...                       ...          ...                    ...     ...
 8755              4587.333333  153112663.0              15.474537       1
 8756              5396.250000  153128637.0              15.474666       1
 8757              4601.000000  153138595.0              15.474537       0
 8758              4035.000000  153156171.0              15.473021       2
 8759              5374.000000  153172052.0              15.472814       2

 [8760 rows x 255 columns],
       Unnamed: 0                   ID  coinbase_premium_gap  \
 0         103670  2023-01-01 00:00:00                 -9.86
 1         103671  2023-01-01 01:00:00                 -8.78
 2         103672  2023-01-01 02:00:00                 -9.59
 3         103673  2023-01-01 03:00:00                 -9.74
 4         103674  2023-01-01 04:00:00                -10.14
 ...          ...                  ...                   ...
 8755      112425  2023-12-31 19:00:00                -27.10
 8756      112426  2023-12-31 20:00:00                -24.73
 8757      112427  2023-12-31 21:00:00                -28.48
 8758      112428  2023-12-31 22:00:00                 -9.08
 8759      112429  2023-12-31 23:00:00                  4.48

       coinbase_premium_index  funding_rates  funding_rates_dup  \
 0                  -0.059650       0.005049           0.010000
 1                  -0.053047       0.005049           0.010000
 2                  -0.057952       0.005049           0.010000
 3                  -0.058912       0.005067           0.010000
 4                  -0.061373       0.006210           0.010000
 ...                      ...            ...                ...
 8755               -0.063587       0.036371           0.036288
 8756               -0.058109       0.037233           0.038245
 8757               -0.066979       0.037761           0.040547
 8758               -0.021487       0.038020           0.041638
 8759                0.010595       0.037049           0.039306

       funding_rates_dup.1  funding_rates_dup.2  funding_rates_dup.3  \
 0                0.001400             0.010000             0.000571
 1                0.001400             0.010000             0.000570
 2                0.001400             0.010000             0.000566
 3                0.001518             0.010000             0.000557
 4                0.008400             0.010000             0.000536
 ...                   ...                  ...                  ...
 8755             0.014468             0.024847             0.035893
 8756             0.018500             0.023523             0.036404
 8757             0.018500             0.022368             0.038425
 8758             0.018500             0.021547             0.039708
 8759             0.018500             0.019143             0.038614

       funding_rates_dup.4  ...  supply_total  supply_new  \
 0                0.010000  ...  1.924871e+07       75.00
 1                0.010000  ...  1.924874e+07       25.00
 2                0.010000  ...  1.924879e+07       50.00
 3                0.010000  ...  1.924882e+07       31.25
 4                0.010000  ...  1.924886e+07       43.75
 ...                   ...  ...           ...         ...
 8755             0.064891  ...  1.958605e+07       56.25
 8756             0.064891  ...  1.958607e+07       25.00
 8757             0.064891  ...  1.958609e+07       18.75
 8758             0.064891  ...  1.958611e+07       12.50
 8759             0.064891  ...  1.958613e+07       25.00

       tokens_transferred_total  tokens_transferred_mean  \
 0                 33057.024011                 2.885312
 1                 12933.965951                 2.217758
 2                 26960.250177                 4.857703
 3                 32747.924338                 6.243646
 4                 26550.999095                 3.824690
 ...                        ...                      ...
 8755              34918.916733                 0.845781
 8756              20015.782598                 0.927301
 8757              13822.498528                 1.001413
 8758              18699.215727                 2.317127
 8759               8369.792889                 0.389365

       tokens_transferred_median  transactions_count_total  \
 0                      0.020125                   11457.0
 1                      0.021293                    5832.0
 2                      0.022980                    5550.0
 3                      0.024678                    5245.0
 4                      0.028596                    6942.0
 ...                         ...                       ...
 8755                   0.000620                   41286.0
 8756                   0.001052                   21585.0
 8757                   0.005020                   13803.0
 8758                   0.009216                    8070.0
 8759                   0.003617                   21496.0

       transactions_count_mean   utxo_count  velocity_supply_total  target
 0                  954.750000   83308092.0              65.978971       2
 1                 1458.000000   83314883.0              65.977755       1
 2                  693.750000   83314090.0              65.975570       1
 3                 1049.000000   83326258.0              65.975092       1
 4                  991.714286   83339168.0              65.969825       2
 ...                       ...          ...                    ...     ...
 8755              4587.333333  153112663.0              15.474537       1
 8756              5396.250000  153128637.0              15.474666       1
 8757              4601.000000  153138595.0              15.474537       0
 8758              4035.000000  153156171.0              15.473021       2
 8759              5374.000000  153172052.0              15.472814       2

 [8760 rows x 255 columns])

In [ ]:
'''# test, train 분리
x_train = train_merged_df.drop(columns=['target', 'ID', ])
y_train = train_merged_df['target']

x_test = test_merged_df.drop(columns=['target', 'ID'])
y_test = test_merged_df['target']'''

In [70]:
def train_lgb(
        train_df: pd.DataFrame
        , test_df: pd.DataFrame
        , drop_col: list[str]=['target', 'ID']
        , target_name: str='target'
)-> tuple[pd.DataFrame, pd.DataFrame, pd.DataFrame, pd.DataFrame, lgb.Booster]:
    x_train = train_merged_df.drop(columns=drop_col)
    y_train = train_merged_df[target_name]

    x_test = test_merged_df.drop(columns=drop_col)
    y_test = test_merged_df[target_name]
    params = {
        "boosting_type": "gbdt",
        "objective": "multiclass",
        "metric": "multi_logloss",
        "num_class": 4,
        "num_leaves": 50,
        "learning_rate": 0.05,
        "n_estimators": 30,
        "random_state": 42,
        "verbose": 0,
    }
    
    train_data = lgb.Dataset(x_train.values, label=y_train.values)
    test_data = lgb.Dataset(x_test.values, label=y_test.values, reference=train_data)
    
    return x_train, y_train, x_test, y_test, lgb.train(
        params=params
        , train_set=train_data
        , valid_sets=test_data
    )

x_train, y_train, x_test, y_test, lgb_model = train_lgb(train_merged_df, test_merged_df)

C:\Users\Minari\anaconda3\envs\bProject01\Lib\site-packages\lightgbm\engine.py:172: UserWarning: Found `n_estimators` in params. Will use it instead of argument
  _log_warning(f"Found `{alias}` in params. Will use it instead of argument")

In [72]:
y_test_pred = lgb_model.predict(x_test)
y_test_pred_class = np.argmax(y_test_pred, axis=1)

accuracy = accuracy_score(y_test, y_test_pred_class)
auroc = roc_auc_score(y_test, y_test_pred, multi_class='ovr')

print(f'acc: {accuracy}, auroc: {auroc}')

acc: 0.7571917808219178, auroc: 0.9304804899180017

In [73]:
train_merged_df_with_target = x_train.copy()
train_merged_df_with_target['close'] = y_train

# 피어슨 상관계수 계산
correlation_matrix = train_merged_df_with_target.corr()

# 타겟과 각 피처 간의 상관계수만 추출
target_correlations = correlation_matrix['close'].drop('close').sort_values(ascending=False)

# 상관계수 출력
target_correlations

long_liquidations_usd_dup      0.055130
long_liquidations_dup          0.055063
long_liquidations_dup.3        0.054655
long_liquidations_usd_dup.3    0.054421
long_liquidations_dup.2        0.052132
                                 ...
taker_buy_volume_dup.6              NaN
taker_sell_volume_dup.6             NaN
taker_buy_ratio_dup.6               NaN
taker_sell_ratio_dup.6              NaN
taker_buy_sell_ratio_dup.6          NaN
Name: close, Length: 252, dtype: float64

In [74]:
f_import = lgb_model.feature_importance(importance_type='gain')
f_names = x_train.columns

gain_df = pd.DataFrame({
    'feature': f_names
    , 'importance': f_import/f_import.sum()
})

gain_df.sort_values(by='importance', ascending=False, inplace=True)

gain_df

                           feature  importance
144            open_interest_dup.7    0.039880
178                          close    0.031220
201        taker_sell_volume_dup.3    0.026652
191        taker_sell_volume_dup.1    0.025704
181              taker_sell_volume    0.019415
..                             ...         ...
70    long_liquidations_usd_dup.13    0.000000
71   short_liquidations_usd_dup.13    0.000000
166           open_interest_dup.29    0.000000
72        long_liquidations_dup.14    0.000000
69       short_liquidations_dup.13    0.000000

[253 rows x 2 columns]

In [75]:
# target 값에 관여한 횟수 
split_df = pd.DataFrame({
    'feature': x_train.columns
    , 'importance': lgb_model.feature_importance(importance_type='split')
})
split_df

                       feature  importance
0                   Unnamed: 0          14
1         coinbase_premium_gap          56
2       coinbase_premium_index          44
3                funding_rates          52
4            funding_rates_dup          46
..                         ...         ...
248  tokens_transferred_median          50
249   transactions_count_total          47
250    transactions_count_mean          86
251                 utxo_count          13
252      velocity_supply_total          24

[253 rows x 2 columns]

In [76]:
# target 값에 관여하지 않은 피처 일단 제거 후 목록 추출
unused_features = split_df[split_df['importance'] == 0]
unused_features

                          feature  importance
10            funding_rates_dup.6           0
36        long_liquidations_dup.5           0
37       short_liquidations_dup.5           0
38    long_liquidations_usd_dup.5           0
39   short_liquidations_usd_dup.5           0
..                            ...         ...
219    taker_buy_sell_ratio_dup.6           0
224    taker_buy_sell_ratio_dup.7           0
242           fees_reward_percent           0
244                  supply_total           0
245                    supply_new           0

[66 rows x 2 columns]

In [77]:
# target 값에 관여하지 않은 피처의 gain 값 확인
unused_features_gain = gain_df[gain_df['feature'].isin(unused_features['feature'])]
unused_features_gain

                           feature  importance
213         taker_sell_ratio_dup.5         0.0
219     taker_buy_sell_ratio_dup.6         0.0
224     taker_buy_sell_ratio_dup.7         0.0
36         long_liquidations_dup.5         0.0
37        short_liquidations_dup.5         0.0
..                             ...         ...
70    long_liquidations_usd_dup.13         0.0
71   short_liquidations_usd_dup.13         0.0
166           open_interest_dup.29         0.0
72        long_liquidations_dup.14         0.0
69       short_liquidations_dup.13         0.0

[66 rows x 2 columns]

In [78]:
# 해당 피처들을 실제 값에서 확인
train_merged_df[unused_features['feature']]
test_merged_df[unused_features['feature']]

,funding_rates_dup.6,long_liquidations_dup.5,short_liquidations_dup.5,long_liquidations_usd_dup.5,short_liquidations_usd_dup.5,long_liquidations_dup.7,short_liquidations_dup.7,long_liquidations_usd_dup.7,short_liquidations_usd_dup.7,long_liquidations_usd_dup.11,...,taker_buy_sell_ratio_dup.5,taker_buy_volume_dup.6,taker_sell_volume_dup.6,taker_buy_ratio_dup.6,taker_sell_ratio_dup.6,taker_buy_sell_ratio_dup.6,taker_buy_sell_ratio_dup.7,fees_reward_percent,supply_total,supply_new
0,NaN,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,4.046784,NaN,NaN,NaN,NaN,NaN,0.475845,0.007425,1.924871e+07,75.00
1,NaN,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,14.473239,NaN,NaN,NaN,NaN,NaN,0.823286,0.010146,1.924874e+07,25.00
2,NaN,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,3.529514,NaN,NaN,NaN,NaN,NaN,4.375441,0.006221,1.924879e+07,50.00
3,NaN,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,6.477528,NaN,NaN,NaN,NaN,NaN,0.987453,0.006985,1.924882e+07,31.25
4,NaN,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.711501,NaN,NaN,NaN,NaN,NaN,1.294601,0.007821,1.924886e+07,43.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,NaN,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.919945,NaN,NaN,NaN,NaN,NaN,1.876219,0.265839,1.958605e+07,56.25
8756,NaN,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.469806,NaN,NaN,NaN,NaN,NaN,1.201989,0.254407,1.958607e+07,25.00
8757,NaN,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,1.886957,NaN,NaN,NaN,NaN,NaN,0.876970,0.269433,1.958609e+07,18.75
8758,NaN,0.0,0.0,0.0,0.0,1.869435,0.0,79100.0,0.0,0.0,...,0.775883,NaN,NaN,NaN,NaN,NaN,0.510369,0.296094,1.958611e+07,12.50
8759,NaN,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.579555,NaN,NaN,NaN,NaN,NaN,0.917715,0.261773,1.958613e+07,25.00

In [64]:
# 해당 피처들을 제외한 값을 추출
train_merged_df.drop(columns=unused_features['feature'])
test_merged_df.drop(columns=unused_features['feature'])

,Unnamed: 0,ID,coinbase_premium_gap,coinbase_premium_index,funding_rates,funding_rates_dup,funding_rates_dup.1,funding_rates_dup.2,funding_rates_dup.3,funding_rates_dup.4,...,fees_total_usd,hashrate,tokens_transferred_total,tokens_transferred_mean,tokens_transferred_median,transactions_count_total,transactions_count_mean,utxo_count,velocity_supply_total,target
0,103670,2023-01-01 00:00:00,-9.86,-0.059650,0.005049,0.010000,0.001400,0.010000,0.000571,0.010000,...,9271.503609,5.062917e+11,33057.024011,2.885312,0.020125,11457.0,954.750000,83308092.0,65.978971,2
1,103671,2023-01-01 01:00:00,-8.78,-0.053047,0.005049,0.010000,0.001400,0.010000,0.000570,0.010000,...,4237.095391,1.687639e+11,12933.965951,2.217758,0.021293,5832.0,1458.000000,83314883.0,65.977755,1
2,103672,2023-01-01 02:00:00,-9.59,-0.057952,0.005049,0.010000,0.001400,0.010000,0.000566,0.010000,...,5176.614029,3.375278e+11,26960.250177,4.857703,0.022980,5550.0,693.750000,83314090.0,65.975570,1
3,103673,2023-01-01 03:00:00,-9.74,-0.058912,0.005067,0.010000,0.001518,0.010000,0.000557,0.010000,...,3632.186132,2.109549e+11,32747.924338,6.243646,0.024678,5245.0,1049.000000,83326258.0,65.975092,1
4,103674,2023-01-01 04:00:00,-10.14,-0.061373,0.006210,0.010000,0.008400,0.010000,0.000536,0.010000,...,5699.177070,2.953368e+11,26550.999095,3.824690,0.028596,6942.0,991.714286,83339168.0,65.969825,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,112425,2023-12-31 19:00:00,-27.10,-0.063587,0.036371,0.036288,0.014468,0.024847,0.035893,0.064891,...,868199.890699,7.731601e+11,34918.916733,0.845781,0.000620,41286.0,4587.333333,153112663.0,15.474537,1
8756,112426,2023-12-31 20:00:00,-24.73,-0.058109,0.037233,0.038245,0.018500,0.023523,0.036404,0.064891,...,363206.281009,3.436267e+11,20015.782598,0.927301,0.001052,21585.0,5396.250000,153128637.0,15.474666,1
8757,112427,2023-12-31 21:00:00,-28.48,-0.066979,0.037761,0.040547,0.018500,0.022368,0.038425,0.064891,...,294586.556191,2.577200e+11,13822.498528,1.001413,0.005020,13803.0,4601.000000,153138595.0,15.474537,0
8758,112428,2023-12-31 22:00:00,-9.08,-0.021487,0.038020,0.041638,0.018500,0.021547,0.039708,0.064891,...,223202.409271,1.718134e+11,18699.215727,2.317127,0.009216,8070.0,4035.000000,153156171.0,15.473021,2
8759,112429,2023-12-31 23:00:00,4.48,0.010595,0.037049,0.039306,0.018500,0.019143,0.038614,0.064891,...,374412.336322,3.436267e+11,8369.792889,0.389365,0.003617,21496.0,5374.000000,153172052.0,15.472814,2

In [88]:
# 해당 dataframe으로 학습
x_train, y_train, x_test, y_test, lgb_model = train_lgb(
    train_merged_df.drop(columns=unused_features['feature'])
    , test_merged_df.drop(columns=unused_features['feature'])
)

train_merged_df.drop(columns=unused_features['feature'])

C:\Users\Minari\anaconda3\envs\bProject01\Lib\site-packages\lightgbm\engine.py:172: UserWarning: Found `n_estimators` in params. Will use it instead of argument
  _log_warning(f"Found `{alias}` in params. Will use it instead of argument")

,Unnamed: 0,ID,coinbase_premium_gap,coinbase_premium_index,funding_rates,funding_rates_dup,funding_rates_dup.1,funding_rates_dup.2,funding_rates_dup.3,funding_rates_dup.4,...,fees_total_usd,hashrate,tokens_transferred_total,tokens_transferred_mean,tokens_transferred_median,transactions_count_total,transactions_count_mean,utxo_count,velocity_supply_total,target
0,103670,2023-01-01 00:00:00,-9.86,-0.059650,0.005049,0.010000,0.001400,0.010000,0.000571,0.010000,...,9271.503609,5.062917e+11,33057.024011,2.885312,0.020125,11457.0,954.750000,83308092.0,65.978971,2
1,103671,2023-01-01 01:00:00,-8.78,-0.053047,0.005049,0.010000,0.001400,0.010000,0.000570,0.010000,...,4237.095391,1.687639e+11,12933.965951,2.217758,0.021293,5832.0,1458.000000,83314883.0,65.977755,1
2,103672,2023-01-01 02:00:00,-9.59,-0.057952,0.005049,0.010000,0.001400,0.010000,0.000566,0.010000,...,5176.614029,3.375278e+11,26960.250177,4.857703,0.022980,5550.0,693.750000,83314090.0,65.975570,1
3,103673,2023-01-01 03:00:00,-9.74,-0.058912,0.005067,0.010000,0.001518,0.010000,0.000557,0.010000,...,3632.186132,2.109549e+11,32747.924338,6.243646,0.024678,5245.0,1049.000000,83326258.0,65.975092,1
4,103674,2023-01-01 04:00:00,-10.14,-0.061373,0.006210,0.010000,0.008400,0.010000,0.000536,0.010000,...,5699.177070,2.953368e+11,26550.999095,3.824690,0.028596,6942.0,991.714286,83339168.0,65.969825,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,112425,2023-12-31 19:00:00,-27.10,-0.063587,0.036371,0.036288,0.014468,0.024847,0.035893,0.064891,...,868199.890699,7.731601e+11,34918.916733,0.845781,0.000620,41286.0,4587.333333,153112663.0,15.474537,1
8756,112426,2023-12-31 20:00:00,-24.73,-0.058109,0.037233,0.038245,0.018500,0.023523,0.036404,0.064891,...,363206.281009,3.436267e+11,20015.782598,0.927301,0.001052,21585.0,5396.250000,153128637.0,15.474666,1
8757,112427,2023-12-31 21:00:00,-28.48,-0.066979,0.037761,0.040547,0.018500,0.022368,0.038425,0.064891,...,294586.556191,2.577200e+11,13822.498528,1.001413,0.005020,13803.0,4601.000000,153138595.0,15.474537,0
8758,112428,2023-12-31 22:00:00,-9.08,-0.021487,0.038020,0.041638,0.018500,0.021547,0.039708,0.064891,...,223202.409271,1.718134e+11,18699.215727,2.317127,0.009216,8070.0,4035.000000,153156171.0,15.473021,2
8759,112429,2023-12-31 23:00:00,4.48,0.010595,0.037049,0.039306,0.018500,0.019143,0.038614,0.064891,...,374412.336322,3.436267e+11,8369.792889,0.389365,0.003617,21496.0,5374.000000,153172052.0,15.472814,2

In [87]:
# 추출된 데이터로 학습한 결과
y_test_pred = lgb_model.predict(x_test)
y_test_pred_class = np.argmax(y_test_pred, axis=1)

accuracy = accuracy_score(y_test, y_test_pred_class)
auroc = roc_auc_score(y_test, y_test_pred, multi_class='ovr')

print(f'acc: {accuracy}, auroc: {auroc}')

acc: 0.7571917808219178, auroc: 0.9304804899180017

In [90]:
# 제외된 데이터로 학습
x_train, y_train, x_test, y_test, lgb_model = train_lgb(
    train_merged_df[unused_features['feature']]
    , test_merged_df[unused_features['feature']]
)
test_merged_df[unused_features['feature']]

C:\Users\Minari\anaconda3\envs\bProject01\Lib\site-packages\lightgbm\engine.py:172: UserWarning: Found `n_estimators` in params. Will use it instead of argument
  _log_warning(f"Found `{alias}` in params. Will use it instead of argument")

,funding_rates_dup.6,long_liquidations_dup.5,short_liquidations_dup.5,long_liquidations_usd_dup.5,short_liquidations_usd_dup.5,long_liquidations_dup.7,short_liquidations_dup.7,long_liquidations_usd_dup.7,short_liquidations_usd_dup.7,long_liquidations_usd_dup.11,...,taker_buy_sell_ratio_dup.5,taker_buy_volume_dup.6,taker_sell_volume_dup.6,taker_buy_ratio_dup.6,taker_sell_ratio_dup.6,taker_buy_sell_ratio_dup.6,taker_buy_sell_ratio_dup.7,fees_reward_percent,supply_total,supply_new
0,NaN,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,4.046784,NaN,NaN,NaN,NaN,NaN,0.475845,0.007425,1.924871e+07,75.00
1,NaN,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,14.473239,NaN,NaN,NaN,NaN,NaN,0.823286,0.010146,1.924874e+07,25.00
2,NaN,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,3.529514,NaN,NaN,NaN,NaN,NaN,4.375441,0.006221,1.924879e+07,50.00
3,NaN,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,6.477528,NaN,NaN,NaN,NaN,NaN,0.987453,0.006985,1.924882e+07,31.25
4,NaN,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.711501,NaN,NaN,NaN,NaN,NaN,1.294601,0.007821,1.924886e+07,43.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,NaN,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.919945,NaN,NaN,NaN,NaN,NaN,1.876219,0.265839,1.958605e+07,56.25
8756,NaN,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.469806,NaN,NaN,NaN,NaN,NaN,1.201989,0.254407,1.958607e+07,25.00
8757,NaN,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,1.886957,NaN,NaN,NaN,NaN,NaN,0.876970,0.269433,1.958609e+07,18.75
8758,NaN,0.0,0.0,0.0,0.0,1.869435,0.0,79100.0,0.0,0.0,...,0.775883,NaN,NaN,NaN,NaN,NaN,0.510369,0.296094,1.958611e+07,12.50
8759,NaN,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.579555,NaN,NaN,NaN,NaN,NaN,0.917715,0.261773,1.958613e+07,25.00

In [91]:
# 제외 되었던 데이터로 학습한 결과
y_test_pred = lgb_model.predict(x_test)
y_test_pred_class = np.argmax(y_test_pred, axis=1)

accuracy = accuracy_score(y_test, y_test_pred_class)
auroc = roc_auc_score(y_test, y_test_pred, multi_class='ovr')

print(f'acc: {accuracy}, auroc: {auroc}')

acc: 0.7571917808219178, auroc: 0.9304804899180017

In [83]:
acc_cor = pd.Series()

for n, v in target_correlations.items():
    print(n, v)

long_liquidations_usd_dup 0.05513046142628597
long_liquidations_dup 0.05506319962483757
long_liquidations_dup.3 0.05465456351486498
long_liquidations_usd_dup.3 0.05442074641100817
long_liquidations_dup.2 0.05213180104276266
long_liquidations_usd_dup.2 0.051910354400641415
taker_sell_ratio_dup 0.049723874671580764
taker_sell_ratio 0.049466899820600145
long_liquidations 0.04198256650314807
long_liquidations_usd 0.04185487891657136
long_liquidations_dup.23 0.040721756163997896
long_liquidations_dup.20 0.04055395931588894
long_liquidations_dup.1 0.039599078048218404
long_liquidations_usd_dup.1 0.03876304617375404
taker_sell_volume_dup.1 0.0386439395664742
long_liquidations_dup.18 0.03859018356056583
long_liquidations_dup.21 0.03853420928998866
long_liquidations_dup.29 0.038151684879222866
long_liquidations_dup.17 0.037936332294114285
long_liquidations_dup.27 0.037626231946148996
long_liquidations_dup.15 0.03757975026880825
long_liquidations_usd_dup.23 0.036688793714433114
long_liquidations_usd_dup.20 0.0365235641769339
long_liquidations_usd_dup.18 0.03589079893775266
long_liquidations_usd_dup.21 0.035833207216022116
long_liquidations_usd_dup.27 0.035613038512338886
long_liquidations_usd_dup.29 0.034898282652057196
long_liquidations_usd_dup.17 0.03253753946725114
long_liquidations_usd_dup.15 0.03237616863158523
taker_sell_volume_dup.3 0.03233343322951421
taker_sell_volume_dup.4 0.031912784143310974
taker_sell_volume_dup.5 0.03190817076844526
long_liquidations_usd_dup.5 0.03118739483973546
long_liquidations_usd_dup.4 0.03118739483973546
long_liquidations_dup.4 0.03019356575423954
long_liquidations_dup.5 0.03019356575423954
taker_sell_volume 0.02950946991801702
taker_sell_ratio_dup.1 0.029500306854421045
taker_sell_volume_dup 0.02878994352830508
taker_sell_volume_dup.7 0.027237889824648254
volume 0.026773947264868543
taker_sell_ratio_dup.7 0.02594235843808256
taker_sell_volume_dup.2 0.02524268591899553
taker_buy_volume_dup.7 0.023551196543341167
long_liquidations_usd_dup.8 0.02268378304175913
long_liquidations_dup.8 0.02191711112330975
long_liquidations_usd_dup.9 0.021737414077696558
taker_sell_ratio_dup.2 0.02164538168028539
taker_buy_volume_dup.3 0.020773457144382494
coinbase_premium_index 0.0207512495297779
long_liquidations_dup.9 0.018748526495086914
coinbase_premium_gap 0.01818829096720978
long_liquidations_usd_dup.28 0.018143485419470987
taker_sell_ratio_dup.3 0.01781281207568258
long_liquidations_dup.11 0.016938165510131456
long_liquidations_dup.12 0.01690630028110097
taker_buy_volume 0.01677623215720902
long_liquidations_usd_dup.11 0.01667519286519886
long_liquidations_usd_dup.12 0.016643801357244793
long_liquidations_dup.10 0.016292210138785075
taker_buy_volume_dup 0.016243989566544527
taker_buy_volume_dup.4 0.015625659305126747
taker_buy_volume_dup.5 0.015562863154131844
taker_sell_ratio_dup.5 0.015509205528641715
long_liquidations_usd_dup.22 0.0154209382823736
long_liquidations_usd_dup.19 0.015389642270240497
taker_sell_ratio_dup.4 0.015184202919087772
long_liquidations_dup.28 0.015016322542742723
taker_buy_volume_dup.1 0.013940299562824804
long_liquidations_usd_dup.10 0.013816482209827953
tokens_transferred_median 0.013729563563268696
taker_buy_volume_dup.2 0.0135461894218942
long_liquidations_dup.22 0.013201318523317894
long_liquidations_dup.19 0.013172094612466658
long_liquidations_usd_dup.16 0.013044778812453988
short_liquidations_dup.9 0.01284614638343276
addresses_count_receiver 0.012648849002863546
short_liquidations_usd_dup.6 0.012207616624747786
short_liquidations_usd_dup.7 0.012207616624747786
long_liquidations_dup.16 0.012183392042623248
short_liquidations_dup.6 0.01214802212602856
short_liquidations_dup.7 0.01214802212602856
short_liquidations_usd_dup.9 0.01156258543993721
short_liquidations_usd_dup.22 0.010782774242093262
short_liquidations_usd_dup.19 0.010764259751362774
short_liquidations_dup.22 0.0095582776258039
short_liquidations_dup.19 0.00954159500634638
short_liquidations_dup.8 0.008265997614133583
short_liquidations_usd_dup.28 0.007401846287477392
short_liquidations_dup.28 0.006825831546506807
open_interest_dup.39 0.005965996515206762
velocity_supply_total 0.005420369225211409
short_liquidations_usd_dup.8 0.004749706859859089
short_liquidations_dup.2 0.003639989375012724
block_count 0.003441177615611843
supply_new 0.0034411776156117024
short_liquidations_dup.27 0.0034219823746618797
addresses_count_active 0.0033485551598509008
short_liquidations_dup.16 0.0033089464680321405
open_interest_dup.11 0.0031426469759575624
open_interest_dup.10 0.0031426469759575624
open_interest_dup.17 0.0027271465609740547
open_interest_dup.18 0.0027271465609740547
short_liquidations_usd_dup.2 0.0025482629833955385
short_liquidations_dup.11 0.002291420383165778
short_liquidations_dup.12 0.002263509447306671
long_liquidations_usd_dup.7 0.0022051794293513846
long_liquidations_usd_dup.6 0.0022051794293513846
short_liquidations_usd_dup.16 0.0018960437722278759
block_bytes 0.0017821044077611997
short_liquidations_usd_dup.11 0.0017242228706460436
short_liquidations_usd_dup.12 0.0016967626512504508
hashrate 0.0016814236546824634
short_liquidations_usd_dup.27 0.0013344201713503818
short_liquidations 0.0012221658437108907
short_liquidations_dup.29 0.0008997183762468962
long_liquidations_dup.6 0.0008597878009261048
long_liquidations_dup.7 0.0008597878009261048
blockreward 0.0006283355190961559
short_liquidations_dup.10 0.00042284789457515713
tokens_transferred_total 0.0002055528275718765
taker_buy_sell_ratio_dup.1 -0.000193637740461504
funding_rates_dup.1 -0.0016558171734235784
short_liquidations_usd_dup.29 -0.0017895951394909784
open_interest_dup.31 -0.0021914299947158873
utxo_count -0.0022212088197740352
open_interest_dup.27 -0.0023093386122559354
addresses_count_sender -0.002718899167532702
supply_total -0.0027738237699572936
Unnamed: 0 -0.002776217032556458
short_liquidations_dup.18 -0.0028975221763506446
open_interest_dup.25 -0.0029381776675801658
short_liquidations_dup.21 -0.0029507433992562834
short_liquidations_usd -0.0029573783926467286
short_liquidations_dup.1 -0.003127652040467172
fees_transaction_median_usd -0.0032217773920032765
transactions_count_total -0.0032583113980786563
difficulty -0.0033983126042898223
fees_transaction_median -0.0034218298961443865
short_liquidations_dup.15 -0.003702345282881456
short_liquidations_usd_dup.10 -0.0037187447316727818
short_liquidations_dup.17 -0.003947916099747069
fees_reward_percent -0.004405115844830995
short_liquidations_dup.4 -0.004427846490891366
short_liquidations_dup.5 -0.004427846490891366
blockreward_usd -0.004512808828712631
taker_buy_sell_ratio_dup.3 -0.004732777758088052
open_interest_dup.23 -0.004748525166590632
funding_rates_dup.5 -0.0048656699101741864
funding_rates_dup.4 -0.005018001704002505
short_liquidations_usd_dup.18 -0.00532988162178427
short_liquidations_usd_dup.21 -0.0053830070477836845
short_liquidations_usd_dup.1 -0.005757114136827521
open_interest_dup.24 -0.005807999393273265
tokens_transferred_mean -0.0062270754797689
short_liquidations_dup.23 -0.006376682973827305
short_liquidations_dup.20 -0.006474185585190207
short_liquidations_usd_dup.4 -0.006488914042729456
short_liquidations_usd_dup.5 -0.006488914042729456
open_interest_dup.3 -0.00757787889821593
fees_transaction_mean -0.007852230707715404
fees_transaction_mean_usd -0.007867201067704223
fees_block_mean_usd -0.008174159651188928
fees_total_usd -0.008302039680937607
short_liquidations_usd_dup.23 -0.008516634043240812
short_liquidations_usd_dup.20 -0.008607755543124495
transactions_count_mean -0.008683948254889303
short_liquidations_usd_dup.15 -0.008733027485141364
short_liquidations_usd_dup.17 -0.00898631090276452
fees_block_mean -0.009192625133219393
fees_total -0.009711257315828028
short_liquidations_dup -0.0102959574712574
taker_buy_sell_ratio_dup.2 -0.010788316096673247
open_interest_dup.15 -0.011409452288463545
open_interest_dup.38 -0.01146829672706853
open_interest_dup.7 -0.01151225480328408
taker_buy_sell_ratio_dup.4 -0.011629914160207741
block_interval -0.011660097369079643
taker_buy_sell_ratio_dup.5 -0.011679176608057435
open_interest_dup.8 -0.011996429715792982
short_liquidations_dup.3 -0.01233322499083357
funding_rates_dup.7 -0.012937351874280164
funding_rates_dup.3 -0.012960459190196495
open_interest_dup.35 -0.013370840081656198
open_interest_dup.34 -0.013370840081656198
open_interest_dup.13 -0.013380433137302111
funding_rates -0.013973785492726484
open_interest_dup.32 -0.013991608046879649
open_interest_dup.26 -0.014019353690144678
open_interest_dup.28 -0.01421479227924528
open_interest_dup.30 -0.014437231155592882
taker_buy_ratio_dup.4 -0.01559291017647519
close -0.015726423672310436
taker_buy_ratio_dup.5 -0.01591786048819996
short_liquidations_usd_dup -0.01594312971248832
funding_rates_dup -0.01635109735119611
funding_rates_dup.2 -0.016774785457266055
short_liquidations_usd_dup.3 -0.017390551170479863
open_interest_dup -0.017534182838823
taker_buy_ratio_dup.3 -0.017812812075682735
open_interest_dup.40 -0.018211561129466456
open_interest_dup.4 -0.018677652359132393
taker_buy_ratio_dup.2 -0.019354666713061956
open_interest_dup.5 -0.022680187434775085
taker_buy_sell_ratio_dup.7 -0.024810102428339025
open_interest_dup.2 -0.02587131651787787
taker_buy_ratio_dup.7 -0.025942358438082617
open_interest_dup.14 -0.026124422617083472
taker_buy_ratio_dup.1 -0.02944505514222842
taker_buy_ratio -0.04946689982060074
taker_buy_ratio_dup -0.04972387467158082
taker_buy_sell_ratio_dup -0.051100181500904736
taker_buy_sell_ratio -0.05132622937460132
funding_rates_dup.6 nan
long_liquidations_dup.13 nan
short_liquidations_dup.13 nan
long_liquidations_usd_dup.13 nan
short_liquidations_usd_dup.13 nan
long_liquidations_dup.14 nan
short_liquidations_dup.14 nan
long_liquidations_usd_dup.14 nan
short_liquidations_usd_dup.14 nan
long_liquidations_dup.24 nan
short_liquidations_dup.24 nan
long_liquidations_usd_dup.24 nan
short_liquidations_usd_dup.24 nan
long_liquidations_dup.25 nan
short_liquidations_dup.25 nan
long_liquidations_usd_dup.25 nan
short_liquidations_usd_dup.25 nan
long_liquidations_dup.26 nan
short_liquidations_dup.26 nan
long_liquidations_usd_dup.26 nan
short_liquidations_usd_dup.26 nan
open_interest nan
open_interest_dup.1 nan
open_interest_dup.6 nan
open_interest_dup.9 nan
open_interest_dup.12 nan
open_interest_dup.16 nan
open_interest_dup.19 nan
open_interest_dup.20 nan
open_interest_dup.21 nan
open_interest_dup.22 nan
open_interest_dup.29 nan
open_interest_dup.33 nan
open_interest_dup.36 nan
open_interest_dup.37 nan
taker_buy_volume_dup.6 nan
taker_sell_volume_dup.6 nan
taker_buy_ratio_dup.6 nan
taker_sell_ratio_dup.6 nan
taker_buy_sell_ratio_dup.6 nan

In [ ]:
merged_df

In [10]:
# 각 분류 단위 별로 피처명 혹은 데이터프레임 분리
interval = 'HOURLY'
categories = [
    {'MARKET-DATA': ['FUNDING-RATES', 'LIQUIDATIONS']} 
    , {'NETWORK-DATA': []}
]


file_names: List[str] = [
    f for f in os.listdir(data_path) if f.startswith(interval) and f.endswith('.csv')
]

for file in file_names:
    print(file)
    # print(file.split('_')[2])

HOURLY_MARKET-DATA_COINBASE-PREMIUM-INDEX.csv
HOURLY_MARKET-DATA_FUNDING-RATES_ALL_EXCHANGE.csv
HOURLY_MARKET-DATA_FUNDING-RATES_BINANCE.csv
HOURLY_MARKET-DATA_FUNDING-RATES_BITMEX.csv
HOURLY_MARKET-DATA_FUNDING-RATES_BYBIT.csv
HOURLY_MARKET-DATA_FUNDING-RATES_DERIBIT.csv
HOURLY_MARKET-DATA_FUNDING-RATES_HTX_GLOBAL.csv
HOURLY_MARKET-DATA_FUNDING-RATES_HUOBI_GLOBAL.csv
HOURLY_MARKET-DATA_FUNDING-RATES_OKEX.csv
HOURLY_MARKET-DATA_FUNDING-RATES_OKX.csv
HOURLY_MARKET-DATA_LIQUIDATIONS_ALL_EXCHANGE_ALL_SYMBOL.csv
HOURLY_MARKET-DATA_LIQUIDATIONS_BINANCE_ALL_SYMBOL.csv
HOURLY_MARKET-DATA_LIQUIDATIONS_BINANCE_BTC_BUSD.csv
HOURLY_MARKET-DATA_LIQUIDATIONS_BINANCE_BTC_USD.csv
HOURLY_MARKET-DATA_LIQUIDATIONS_BINANCE_BTC_USDT.csv
HOURLY_MARKET-DATA_LIQUIDATIONS_BITFINEX_ALL_SYMBOL.csv
HOURLY_MARKET-DATA_LIQUIDATIONS_BITFINEX_BTC_USDT.csv
HOURLY_MARKET-DATA_LIQUIDATIONS_BITMEX_ALL_SYMBOL.csv
HOURLY_MARKET-DATA_LIQUIDATIONS_BITMEX_BTC_USD.csv
HOURLY_MARKET-DATA_LIQUIDATIONS_BYBIT_ALL_SYMBOL.csv
HOURLY_MARKET-DATA_LIQUIDATIONS_BYBIT_BTC_USD.csv
HOURLY_MARKET-DATA_LIQUIDATIONS_BYBIT_BTC_USDT.csv
HOURLY_MARKET-DATA_LIQUIDATIONS_DERIBIT_ALL_SYMBOL.csv
HOURLY_MARKET-DATA_LIQUIDATIONS_DERIBIT_BTC_USD.csv
HOURLY_MARKET-DATA_LIQUIDATIONS_FTX_ALL_SYMBOL.csv
HOURLY_MARKET-DATA_LIQUIDATIONS_FTX_BTC_USD.csv
HOURLY_MARKET-DATA_LIQUIDATIONS_GATE_IO_ALL_SYMBOL.csv
HOURLY_MARKET-DATA_LIQUIDATIONS_GATE_IO_BTC_USD.csv
HOURLY_MARKET-DATA_LIQUIDATIONS_GATE_IO_BTC_USDT.csv
HOURLY_MARKET-DATA_LIQUIDATIONS_HTX_GLOBAL_ALL_SYMBOL.csv
HOURLY_MARKET-DATA_LIQUIDATIONS_HTX_GLOBAL_BTC_USD.csv
HOURLY_MARKET-DATA_LIQUIDATIONS_HTX_GLOBAL_BTC_USDT.csv
HOURLY_MARKET-DATA_LIQUIDATIONS_HUOBI_GLOBAL_ALL_SYMBOL.csv
HOURLY_MARKET-DATA_LIQUIDATIONS_HUOBI_GLOBAL_BTC_USD.csv
HOURLY_MARKET-DATA_LIQUIDATIONS_HUOBI_GLOBAL_BTC_USDT.csv
HOURLY_MARKET-DATA_LIQUIDATIONS_OKEX_ALL_SYMBOL.csv
HOURLY_MARKET-DATA_LIQUIDATIONS_OKEX_BTC_USD.csv
HOURLY_MARKET-DATA_LIQUIDATIONS_OKEX_BTC_USDT.csv
HOURLY_MARKET-DATA_LIQUIDATIONS_OKX_ALL_SYMBOL.csv
HOURLY_MARKET-DATA_LIQUIDATIONS_OKX_BTC_USD.csv
HOURLY_MARKET-DATA_LIQUIDATIONS_OKX_BTC_USDT.csv
HOURLY_MARKET-DATA_OPEN-INTEREST_ALL_EXCHANGE.csv
HOURLY_MARKET-DATA_OPEN-INTEREST_ALL_EXCHANGE_ALL_SYMBOL.csv
HOURLY_MARKET-DATA_OPEN-INTEREST_BINANCE.csv
HOURLY_MARKET-DATA_OPEN-INTEREST_BINANCE_ALL_SYMBOL.csv
HOURLY_MARKET-DATA_OPEN-INTEREST_BINANCE_BTC_BUSD.csv
HOURLY_MARKET-DATA_OPEN-INTEREST_BINANCE_BTC_USD.csv
HOURLY_MARKET-DATA_OPEN-INTEREST_BINANCE_BTC_USDT.csv
HOURLY_MARKET-DATA_OPEN-INTEREST_BITFINEX.csv
HOURLY_MARKET-DATA_OPEN-INTEREST_BITFINEX_ALL_SYMBOL.csv
HOURLY_MARKET-DATA_OPEN-INTEREST_BITFINEX_BTC_USDT.csv
HOURLY_MARKET-DATA_OPEN-INTEREST_BITMEX.csv
HOURLY_MARKET-DATA_OPEN-INTEREST_BITMEX_ALL_SYMBOL.csv
HOURLY_MARKET-DATA_OPEN-INTEREST_BITMEX_BTC_USD.csv
HOURLY_MARKET-DATA_OPEN-INTEREST_BYBIT.csv
HOURLY_MARKET-DATA_OPEN-INTEREST_BYBIT_ALL_SYMBOL.csv
HOURLY_MARKET-DATA_OPEN-INTEREST_BYBIT_BTC_USD.csv
HOURLY_MARKET-DATA_OPEN-INTEREST_BYBIT_BTC_USDT.csv
HOURLY_MARKET-DATA_OPEN-INTEREST_DERIBIT.csv
HOURLY_MARKET-DATA_OPEN-INTEREST_DERIBIT_ALL_SYMBOL.csv
HOURLY_MARKET-DATA_OPEN-INTEREST_DERIBIT_BTC_USD.csv
HOURLY_MARKET-DATA_OPEN-INTEREST_FTX.csv
HOURLY_MARKET-DATA_OPEN-INTEREST_FTX_ALL_SYMBOL.csv
HOURLY_MARKET-DATA_OPEN-INTEREST_FTX_BTC_USD.csv
HOURLY_MARKET-DATA_OPEN-INTEREST_GATE_IO.csv
HOURLY_MARKET-DATA_OPEN-INTEREST_GATE_IO_ALL_SYMBOL.csv
HOURLY_MARKET-DATA_OPEN-INTEREST_GATE_IO_BTC_USD.csv
HOURLY_MARKET-DATA_OPEN-INTEREST_GATE_IO_BTC_USDT.csv
HOURLY_MARKET-DATA_OPEN-INTEREST_HTX_GLOBAL_ALL_SYMBOL.csv
HOURLY_MARKET-DATA_OPEN-INTEREST_HTX_GLOBAL_BTC_USD.csv
HOURLY_MARKET-DATA_OPEN-INTEREST_HTX_GLOBAL_BTC_USDT.csv
HOURLY_MARKET-DATA_OPEN-INTEREST_HUOBI_GLOBAL.csv
HOURLY_MARKET-DATA_OPEN-INTEREST_HUOBI_GLOBAL_ALL_SYMBOL.csv
HOURLY_MARKET-DATA_OPEN-INTEREST_HUOBI_GLOBAL_BTC_USD.csv
HOURLY_MARKET-DATA_OPEN-INTEREST_HUOBI_GLOBAL_BTC_USDT.csv
HOURLY_MARKET-DATA_OPEN-INTEREST_KRAKEN.csv
HOURLY_MARKET-DATA_OPEN-INTEREST_KRAKEN_ALL_SYMBOL.csv
HOURLY_MARKET-DATA_OPEN-INTEREST_KRAKEN_BTC_USD.csv
HOURLY_MARKET-DATA_OPEN-INTEREST_OKEX.csv
HOURLY_MARKET-DATA_OPEN-INTEREST_OKX.csv
HOURLY_MARKET-DATA_OPEN-INTEREST_OKX_ALL_SYMBOL.csv
HOURLY_MARKET-DATA_OPEN-INTEREST_OKX_BTC_USD.csv
HOURLY_MARKET-DATA_OPEN-INTEREST_OKX_BTC_USDT.csv
HOURLY_MARKET-DATA_PRICE-OHLCV_ALL_EXCHANGE_SPOT_BTC_USD.csv
HOURLY_MARKET-DATA_TAKER-BUY-SELL-STATS_ALL_EXCHANGE.csv
HOURLY_MARKET-DATA_TAKER-BUY-SELL-STATS_BINANCE.csv
HOURLY_MARKET-DATA_TAKER-BUY-SELL-STATS_BITMEX.csv
HOURLY_MARKET-DATA_TAKER-BUY-SELL-STATS_BYBIT.csv
HOURLY_MARKET-DATA_TAKER-BUY-SELL-STATS_DERIBIT.csv
HOURLY_MARKET-DATA_TAKER-BUY-SELL-STATS_HTX_GLOBAL.csv
HOURLY_MARKET-DATA_TAKER-BUY-SELL-STATS_HUOBI_GLOBAL.csv
HOURLY_MARKET-DATA_TAKER-BUY-SELL-STATS_OKEX.csv
HOURLY_MARKET-DATA_TAKER-BUY-SELL-STATS_OKX.csv
HOURLY_NETWORK-DATA_ADDRESSES-COUNT.csv
HOURLY_NETWORK-DATA_BLOCK-BYTES.csv
HOURLY_NETWORK-DATA_BLOCK-COUNT.csv
HOURLY_NETWORK-DATA_BLOCK-INTERVAL.csv
HOURLY_NETWORK-DATA_BLOCKREWARD.csv
HOURLY_NETWORK-DATA_DIFFICULTY.csv
HOURLY_NETWORK-DATA_FEES-TRANSACTION.csv
HOURLY_NETWORK-DATA_FEES.csv
HOURLY_NETWORK-DATA_HASHRATE.csv
HOURLY_NETWORK-DATA_SUPPLY.csv
HOURLY_NETWORK-DATA_TOKENS-TRANSFERRED.csv
HOURLY_NETWORK-DATA_TRANSACTIONS-COUNT.csv
HOURLY_NETWORK-DATA_UTXO-COUNT.csv
HOURLY_NETWORK-DATA_VELOCITY.csv